%h1.ui.header Things to Do
.ui.three.stackable.cards
  - @things.each do |thing|
    .card{ class: "#{color(thing)}" }
      - if thing.overdue?
        .ui.right.corner.label
          %i.warning.icon
      .content
        .header= thing.title 
        - if thing.last_doing.present?
          .meta
            %span= thing.last_done_string
        .meta
          %span= thing.due_string
      .content
        .ui.relaxed.divided.list
          .item
            %i.large.middle.aligned.vertically.flipped.history.icon
            .content
              .header
                Frequency
              .description= "Do every #{pluralize(thing.frequency_in_days, "day")}"
          .item
            %i.large.middle.aligned.hourglass.start.icon
            .content
              .header
                Duration
              .description= "Takes about #{pluralize(thing.duration_in_minutes, "minute")}"
          .item
            %i.large.middle.aligned.home.icon
            .content
              .header
                Location
              .description= thing.location
      = form_for thing.doings.new do |f|
        = f.hidden_field(:thing_id, value: thing.id)
        = f.hidden_field(:days_ago, value: 0)
        = f.submit "Just did this", class: 'ui bottom attached fluid button'
